<head>
<link rel='stylesheet' type='text/css' href='/themes/default.css'>
<script src='http://code.jquery.com/jquery-1.4.4.min.js'  type='text/javascript'></script>
</head>

<body>
<center>
<a href="terraPi.cgi">Home</a> - <a href="terraPi.cgi?site=sensors">Sensors</a> - <a href="terraPi.cgi?site=admin">Admin</a>
<br />
</center>
<hr />
You have logged in.
<hr />
</body>
</html>
