<TMPL_INCLUDE NAME="header.tmpl">
<body>
<center>
<TMPL_INCLUDE NAME="menue.tmpl">
<br />
</center>
<hr />
BMP085 Sensor <TMPL_VAR NAME=SENSORID>:
<br>
Temperature: <TMPL_VAR NAME=BMP085TEMP>
<br>
Air Pressure: <TMPL_VAR NAME=BMP085PRESS>
<TMPL_INCLUDE NAME="footer.tmpl">
