<TMPL_INCLUDE NAME="header.tmpl">
<body>
<center>
<TMPL_INCLUDE NAME="menue.tmpl">
<br />
</center>
<hr />
<center>
<form id="loginForm" name="loginForm" method="post" action="">
  <fieldset>
    <legend>Login</legend>
    <p>
      <label for="username">Username</label>
      <br />
      <input type="text" id="username" name="username" class="text" size="20" />
    </p>
    <p>
      <label for="password">Password</label>
      <br />
      <input type="password" id="passwd" name="password" class="text" size="20" />
    </p>
    <p>
      <button type="submit" class="button positive">
       <img alt="ok" src=
       "http://www.blueprintcss.org/blueprint/plugins/buttons/icons/tick.png" /> 
       Login
      </button>
    </p>
  </fieldset>
</form>
</center>
<TMPL_INCLUDE NAME="footer.tmpl">
