<a href="terraPi.cgi?site=index">Home</a> - <a href="terraPi.cgi?site=sensors&showsensor=overview">Sensors</a> - <a href="terraPi.cgi?site=admin">Admin</a>
<br>
<TMPL_IF NAME="sensorlist">
<TMPL_INCLUDE NAME="sensors.tmpl">
</TMPL_IF>

