<head>
<link rel='stylesheet' type='text/css' href='/themes/default.css'>
<script src='http://code.jquery.com/jquery-1.4.4.min.js'  type='text/javascript'></script>
</head>

<body>
<center>
<a href="terraPi.cgi">Home</a> - <a href="terraPi.cgi?site=sensors">Sensors</a> - <a href="terraPi.cgi?site=admin">Admin</a>
<br />
<a href="terraPi.cgi?site=BMP085">BMP085</a> - <a href="terraPi.cgi?site=Raspberry">Raspberry</a>
<br />
</center>
<hr />
Raspberry Sensor <TMPL_VAR NAME=SENSORID>:
<br>
Temperature: <TMPL_VAR NAME=RASPITEMP> C
<br>
Volts: <TMPL_VAR NAME=RASPIVOLTS> V
<br>
Clock Speed: <TMPL_VAR NAME=RASPICLOCK>
<hr />
</body>
</html>
