<TMPL_INCLUDE NAME="header.tmpl">
<body>
<center>
<TMPL_INCLUDE NAME="menue.tmpl">
<br />
</center>
<hr />
Raspberry Sensor <TMPL_VAR NAME=SENSORID>:
<br>
Temperature: <TMPL_VAR NAME=RASPITEMP> C
<br>
Volts: <TMPL_VAR NAME=RASPIVOLTS> V
<br>
Clock Speed: <TMPL_VAR NAME=RASPICLOCK>
<TMPL_INCLUDE NAME="footer.tmpl">
